## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s = "Hi there Sam!"
s_splitted = s.split(" ")
print(s_splitted)

['Hi', 'there', 'Sam!']

In [6]:
s = "Hi there dad!"
s_splitted = s.split(" ")
print(s_splitted)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [7]:
t="The diameter of {0} is {1} kilometers.".format("Earth",12742)

In [8]:
print(t)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [13]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [14]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [15]:
#The list has dynamic properties, but the tuple has static ones. This means that lists can be updated whereas tuples cannot; yet, because tuples are static, they are faster than lists. Tuples are denoted by parenthesis while lists are denoted by square brackets.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [16]:
def str(string):
    a=string.split("@")
    return a[1]

In [17]:
print(str("user@domain.com"))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [18]:
def contains(string):
    if('dog' in string):
        return True
    else:
        return False

In [19]:
print(contains("dogishere"))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [20]:
def count_nos(string):
    occ=string.split(" ")
    count=0
    for i in occ:
        if(i=='dog'):
            count += 1
    return count

In [22]:
print(count_nos("dog dog dog here"))

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [24]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [25]:
print(caught_speeding(93,True))

Big Ticket

In [26]:
print(caught_speeding(80,True))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [28]:
emp_sal=[30000,10000,46000,26000,65700]
t_sal=0
for i in emp_sal:
    print("{0}".format(i))
    t_sal+=i
print("Total salary expenditure is {0}".format(t_sal))

30000
10000
46000
26000
65700
Total salary expenditure is 177700

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [29]:
def dic_merge(dic1, dic2):
    return(dic2.update(dic1))

dic_emp={'Empid':1,'Empname':"Nanda_Kumar_B",'Basicpay':1245900}
dic_dept={'DeptName':"CSE",'DeptId':1}
print(dic_merge(dic_emp, dic_dept))
print(dic_dept)

None
{'DeptName': 'CSE', 'DeptId': 1, 'Empid': 1, 'Empname': 'Nanda_Kumar_B', 'Basicpay': 1245900}